body {
    font-family: Inter, -apple-system, "system-ui", "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0;
    padding: 0;
    background-color:rgb(246, 246, 246);;
    
}

h1 {
    font-family: Inter, -apple-system, "system-ui", "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 24px;
    color: #333;
    margin-top: 48px;
    margin-bottom: 0;
    margin-left: 48px;
    
    display: flex;
    align-items: flex-start;
}

#homeParagraph{
    margin: 8px 48px;
    margin-bottom: 56px;
    padding: 0;
    max-width: 60ch;
    display: flex;
    align-items: flex-start;
    justify-content: left;
    font-size: 16px;
    line-height: 130%;
}



#crypto-container {
    display: flex;
    overflow-x: auto; /* For horizontal scrolling */
    margin-left: 48px;
    margin-right: 48px;
    padding: 24px;
    background-color: white;
    border-radius: 16px;
    align-items: stretch; /* Add this line */
    
}




.table-fixed {
    flex-shrink: 0; /* Prevents the fixed part from shrinking */
}

.table-scroll {
    overflow-x: auto;
    justify-content: space-between;
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS devices */
    
}

table {
    min-width: 100px; /* Set the width to 100% to fit the viewport */
    
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent text wrapping within cells */
}

th, td {
   
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #ddd;
    height: 40px;
    color: #3c4043;
}

td {
    padding-top: 16px;
    padding-bottom: 16px;
    align-items: center;
    vertical-align: middle; /* Aligns content in the middle of the cell */

}


th {
    background-color: white;
}

/* Add this CSS for small screens (max-width: 600px) */
/* Add this CSS for small screens (max-width: 600px) */
/* Add this CSS for small screens (max-width: 600px) */
@media screen and (max-width: 600px) {
    #crypto-container {
        display: flex;
        overflow-x: auto; /* For horizontal scrolling */
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom:64px;
        padding: 16px;
        background-color: white;
        border-radius: 0px;
        overflow: hidden;
    }

    h1 {
        font-family: Inter, -apple-system, "system-ui", "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-size: 24px;
        color: #333;
        margin-top: 24px;
        margin-bottom: 0;
        margin-left: 16px;
        
        display: flex;
        align-items: flex-start;
    }
    
    #homeParagraph{
        margin: 8px 16px;
        margin-bottom: 56px;
        padding: 0;
        max-width: 60ch;
        display: flex;
        align-items: flex-start;
        justify-content: left;
    }

    table {
        min-width: 100px; /* Set the width to 100% to fit the viewport */
        overflow-x: auto; /* Enable horizontal scrolling */
        white-space: nowrap; /* Prevent text wrapping within cells */
        overflow: hidden;
    }

    th, td {
        text-align: left ;
        display: table-cell; /* Display as inline-block to allow horizontal scrolling */
        vertical-align: middle;
        width: auto; /* Set the width to auto so that each column remains fixed */
        height: 40px;
    }

    th {
        position: sticky;
        top: 0;
        background-color: white;
        z-index: 10;
    }

    td {
        padding: 8px;
        margin-bottom: 2px; /* Add some space between rows */
        vertical-align: middle; /* Aligns content in the middle of the cell */

    }

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 300px; /* Adjust as needed */
        background-color: white;
        color: #3c4043;
        text-align: left;
        border-radius: 6px;
        padding: 16px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    
        /* Position the tooltip */
        position: absolute;
        z-index: 100;
        top: 100%;
        left: 0%; /* Position above the icon */
        margin-left: -100px; /* Centers the tooltip */
        opacity: 0;
        transition: opacity 0.3s;
    }
}




@media screen and (min-width: 601px) {

    
    
    table {
        min-width: 100px; /* Set the width to 100% to fit the viewport */
        overflow-x: auto; /* Enable horizontal scrolling */
        white-space: nowrap; /* Prevent text wrapping within cells */
    }

    th, td {
        text-align: left ;
        display: table-cell; /* Display as inline-block to allow horizontal scrolling */
        vertical-align: middle;
        width: auto; /* Set the width to auto so that each column remains fixed */
        height: 40px;
        
    }

    th {
        position: static;
        background-color: white;
        z-index: 0;
    }

    td {
        padding: 8px;
        margin-bottom: 0; /* Reset margin for larger screens */
        vertical-align: middle; /* Aligns content in the middle of the cell */

    }

    .table-fixed{
        width:fit-content;
    }

     .table-scroll {
        
        width:fit-content;
        display:flex ;
        align-items: flex-end;
        
        /* ... other styles ... */
    }
    #crypto-container {
        display: flex;
        overflow-x: auto; /* For horizontal scrolling */
        margin-left: 48px;
        margin-right: 48px;
        margin-bottom:72px;
        padding: 24px;
        background-color: white;
        border-radius: 16px;
        width: fit-content;
    }
    .table-scroll table {
        width: 100%; /* Set the table to take the full width of its container */
    }
    .table-scroll th, .table-scroll td {
        min-width: 170px; /* Example minimum width */
        width: auto; /* Adjust this as needed */
    }

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 400px; /* Adjust as needed */
        background-color: white;
        color: #3c4043;
        text-align: left;
        border-radius: 6px;
        padding: 16px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    
        /* Position the tooltip */
        position: absolute;
        z-index: 100;
        top: 100%;
        left: 50%; 
        transform: translateX(-50%);
        opacity: 0;
        transition: opacity 0.3s;
        margin-top: 8px;
    }
    
    .tooltip .tooltiptext::after {
        content: '';
        position: absolute;
        bottom: 100%;  /* Position just above the tooltip */
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent white transparent;
    }
    
    
}



td img {
    max-width: 30px;
    margin-right: 8px;
    height: auto;
    border-radius: 50%; /* Optional: makes images circular */
}

#baseCaseRoi {
    color: rgb(0, 168, 62);
}



.positive-roi {
    color: rgb(0, 168, 62);
}

.negative-roi {
    color: rgb(255, 58, 51);
}

.blur-content {
    filter: blur(0px);
}


#num-animate {
    transition: all 0.5s ease-in-out;
    animation: fadeInOut 0.8s ease-in-out;
}

/* Keyframes for fade in and fade out */
@keyframes fadeInOut {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
}




  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  #caution {
    width: 17px;
    height: 12px;
    vertical-align:baseline; /* Aligns the image with the middle of the text */
    margin-left: 4px; /* Optional: Adds some space between the icon and the text */
}

#homeParagraph span {
    display: inline; /* Ensures the text and image are on the same line */
}


  
.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer; /* Optional: Changes the cursor to indicate it's interactive */
}



.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

#crypto-table-body-fixed img {
    vertical-align: middle; /* Aligns image to the middle of the cell */
}


#website-link{
    cursor: pointer;
}

a:link{
    color: #F0B90B;
    text-decoration: none;
}
a:visited{
    color: #333;
}
a:hover{
    color: #333;
    text-decoration:underline;
}

a:active{
    color: orange;
}

#moonBags{
    height: 24px;
    width: auto;
}
